body{
    background-color: green;
}
.box{
    height: 100px;
    width: 100px;
    background-color: rgb(255,255,255);
    margin: auto;
}

.image{
    height: 50%;
    width: 50%;
}

.container-image{
    width: 50%;
    height: 50%;
    margin: auto;
}